<!DOCTYPE html>
<html>
    <head>
        <title><?php echo $this->title; ?></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="<?php echo BASE_URL?>/public/js/script.js"></script>
        <link rel="stylesheet" type="text/css" href="<?php echo BASE_URL?>/public/css/style.css" />
        <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="content">
            <div id="header">
                A Kind of Framework Demo!
            </div>
            <div id="nav">
                <nav>
                    <ul>
                        <li>
                            <a href="<?php echo BASE_URL; ?>">
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="<?php echo BASE_URL . '/home/dbfetch'; ?>">
                                <span>List Users</span>
                            </a>
                        </li>
                        <li>
                            <a href="<?php echo BASE_URL . '/home/dbfetch/2'; ?>">
                                <span>List Single User</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div id="maincontent">
                <!-- inject content -->
                <?php include("$file"); ?>
            </div>
        </div>
    </body>
</html>

<script type="text/javascript">
    window.base_url = <?php echo json_encode(BASE_URL); ?>; //set js base_url variable from php settings file
</script>
