<h1>Home Page</h1>

<p>
    This site is a simple demo of the MVC framework.  It contains a single default controller with two actions.
</p>

<p>
    The default controller and action can be run by either visiting the root of the site 
    (<span class="green"><?php echo BASE_URL; ?></span>)or by specifying the controller and action in the 
    URL (<span class="green"><?php echo BASE_URL . '/index/index';?></span>).
</p>
<p>Use the navigation buttons above to trigger the different controller actions.</p>

<p>
The controller action for this page calls the model into action and dispatches this view. The model
injects a variable into the view containing some data that can accessed in the view file:
</p>

<div id="databox"> Data injected to view from model: <span class="orange">Local Port = <?php echo $remotePort; ?></span></div>
